.section_five_inner {
	blockquote {
				overflow: hidden;
				padding-bottom:10px;
				padding-top:24px;
				margin-bottom:52px;
				margin-left:-10px;
				display: flex;
				.image_wrapper {
					width:225px;
					display: flex;
					justify-content: center;
					align-items: center; 
				}
				img {
					width: 100%;
				}
				span.blockquote_text {
					width:calc(100% - 225px);
					padding-left:13px;
					color:$orange;
					font-family: $nexalight;
					font-size: 42px;
					line-height: 45px;
					padding-top:10px;
				}
			}
		}



section.section_five {
	background: #f3f3f3;
	.section_five_inner {
		max-width:1580px;
		margin:0 auto;
		overflow: hidden;
		padding:195px 0 155px;
	}
}
	
		
		



.sec_five_col {
	width:50%;
	&:first-of-type {
		float:left;
		padding-right:40px;
		padding-left:40px;
		
	}
	&:last-of-type {
		float:right;
		padding-left:40px;
		padding-right:40px;
		
	}
}


.why_choose_button_wrapper {
	display: none;
}


@media screen and (max-width: 1450px) {
	

	
	
	section.section_five {
	
	.section_five_inner {
		padding:143px 70px 115px;
		p {
			
		}
		h3 {
			
		}
		h2 {
			
		}
		ul {
			
			li {
				
			}
		}
		blockquote {
			
			.image_wrapper {
				 width:205px;		
			}
			img {
				
			}
			span.blockquote_text {
				width:calc(100% - 205px);
			}
		}
	}
}


	
	
	
.sec_five_col {
	
	&:first-of-type {
		
		padding-right:35px;
		padding-left:0px;
		
	}
	&:last-of-type {
		
		padding-left:35px;
		padding-right:0px;
		
	}
}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	
	
	
	section.section_five {
	
	.section_five_inner {
		padding:118px 40px 85px;
		p {
			
		}
		h3 {
			
		}
		h2 {
			
		}
		ul {
			
			li {
				
			}
		}
		blockquote {
			
			.image_wrapper {
				 width:135px;		
			}
			img {
				
			}
			span.blockquote_text {
				width:calc(100% - 135px);
				font-size: 35px;
				line-height: 40px;
			}
		}
	}
}






.sec_five_col {
	
	&:first-of-type {
		
		padding-right:20px;
		
		
	}
	&:last-of-type {
		
		padding-left:20px;
		
		
	}
}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 950px) {
	


section.section_five {
	
	.section_five_inner {
		padding:83px 40px 35px;
		p {
			
		}
		h3 {
			
		}
		h2 {
			
		}
		ul {
			
			li {
				
			}
		}
		blockquote {
			padding-top: 10px;
			margin-bottom: 50px;
			.image_wrapper {
				width:188px;	
			}
			img {
				
			}
			span.blockquote_text {
				padding-left:23px;
			}
		}
	}
}





	
	
.sec_five_col {
	
	&:first-of-type {
		width:100%;
		padding-right:0px;
		float:none;
		
	}
	&:last-of-type {
		width:100%;
		padding-left:0px;
		float:none;
	}
}


.why_choose_button_wrapper {
	text-align: center;
	position: relative;
	top:20px;
	display: block;
	a.why_choose_button {
		display: inline-block;
		margin:0 auto;
		background: $orange;
		text-decoration: none;
		text-transform: uppercase;
		color:#fff;
		font-size:16px;
		font-family: $nexabold;
		letter-spacing: 7px;
		padding:28px 40px;
		width:90%;
		max-width:620px;
		position: relative;
		z-index:10;
	}
}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
section.section_five {
	
	.section_five_inner {
		padding:57px 25px 32px;
		p {
			
		}
		h3 {
			
		}
		h2 {
			
		}
		ul {
			
			li {
				
			}
		}
		blockquote {
			margin:0 0 39px;
			padding:0;
			.image_wrapper {
				display: none;
			}
			
			span.blockquote_text {
				width:100%;
				padding-left:0;
				padding-top:0;
				font-size:31px;
				line-height: 33px;
			}
		}
	}
}


.why_choose_button_wrapper {
	display: none;
}



	
	
} /* Media Query */