section.section_four {
	width:100%;
	
}


.pa_wrapper {
	display: flex;
}
	
	
	
	
	.single_pa {
		width:33.3333%;
		position: relative;
		text-align: center;
		height:600px;
		overflow: hidden;
		a {
			text-decoration: none;
			color:#fff;
		}
		&:hover {
			.orange_image {
				opacity: 1;
			}
			.pa_view_more {
				transform: translateY(0);
			}
			span.single_pa_title {
				color:#fff;
			}
		}
	}
	
	
	
	span.single_pa_title {
		position: relative;
		z-index:10;
		display: inline-block;
		margin:0 auto;
		color:$orange;
		font-family:$tavirajextralight;
		text-transform: uppercase;
		font-size: 70px;
		line-height: 70px;
		margin-top:220px;
		display: block;
		transition: all .2s ease-in-out;
	}	

	.blue_image, .orange_image {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
	}
		
	.orange_image {
		opacity: 0;
		transition: all .2s ease-in-out;
	}
	
	
 .single_pa:nth-of-type(1) {
	 .blue_image {
			background: url(#{$themePath}images/pa-civil-litigation-desktop.jpg) top center;
			background-size: cover;
	}
	.orange_image {
		background: url(#{$themePath}images/pa-civil-litigation-hover-desktop.jpg) top center;
		background-size: cover;
	}
}


.single_pa:nth-of-type(2) {
	.blue_image {
		background: url(#{$themePath}images/pa-personal-injury-desktop.jpg) top center;
		background-size: cover;
	}
	.orange_image {
		background: url(#{$themePath}images/pa-personal-injury-hover-desktop.jpg) top center;
		background-size: cover;
	}
}


.single_pa:nth-of-type(3) {
	.blue_image {
		background: url(#{$themePath}images/pa-estate-planning-desktop.jpg) top center;
		background-size: cover;
	}
	.orange_image {
		background: url(#{$themePath}images/pa-estate-planning-hover-desktop.jpg) top center;
		background-size: cover;
	}
}



.pa_dots_wrapper {
	width:100%;
	position: absolute;
	bottom:40px;
	left:0;
}


.pa_dot {
	width:7px;
	height:7px;
	background: $orange;
	border-radius: 50%;
	position: relative;
	z-index:10;
	display: inline-block;
	margin:0 1px;
}

.pa_view_more {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	z-index: 10;
	background: $orange;
	font-family: $nexabold;
	text-transform: uppercase;
	font-size: 17px;
	padding:34px 0;
	letter-spacing: 8px;
	transform: translateY(85px);
	transition: transform 800ms cubic-bezier(.17,.66,.34,.98);
}


@media screen and (max-width: 1500px) {
	
	.single_pa {
		height:437px;
	}
	
	span.single_pa_title {
		font-size: 60px;
		letter-spacing: 3px;
		line-height: 60px;
		margin-top:162px;
	}
	
	
	.single_pa:nth-of-type(1) {
	 .blue_image {
			background: url(#{$themePath}images/pa-civil-litigation-tablet.jpg) top center;
			background-size: cover;
	}
	.orange_image {
		background: url(#{$themePath}images/pa-civil-litigation-hover-tablet.jpg) top center;
		background-size: cover;
	}
}


.single_pa:nth-of-type(2) {
	.blue_image {
		background: url(#{$themePath}images/pa-personal-injury-desktop.jpg) top center;
		background-size: cover;
	}
	.orange_image {
		background: url(#{$themePath}images/pa-personal-injury-hover-desktop.jpg) top center;
		background-size: cover;
	}
}


.single_pa:nth-of-type(3) {
	.blue_image {
		background: url(#{$themePath}images/pa-estate-planning-desktop.jpg) top center;
		background-size: cover;
	}
	.orange_image {
		background: url(#{$themePath}images/pa-estate-planning-hover-desktop.jpg) top center;
		background-size: cover;
	}
}


.pa_dots_wrapper {
	width:100%;
	position: absolute;
	bottom:27px;
	left:0;
	
}

.pa_dot {
	width:5px;
	height:5px;
}


.pa_view_more {
	padding: 23px 0;
}
	
	
	
} /* Media Query */



@media screen and (max-width: 1260px) {
	
	.single_pa {
		height:345px;
	}
	
	
	span.single_pa_title {
		font-size: 50px;
		line-height: 50px;
		margin-top:125px;
	}
	
	
.pa_view_more {
	padding: 18px 0;
	// transform: translateY(0px);
	font-size: 15px;
	letter-spacing: 4px;
}

	
	
	
} /* Media Query */


@media screen and (max-width: 980px) {
	
	
	
	
.pa_wrapper {
	display: block;
}
	
	
	
	
	.single_pa {
		width:100%;
		height:225px;
/*
		&:hover {
			.orange_image {
				opacity: 1;
			}
			.pa_view_more {
				transform: translateY(0);
			}
			span.single_pa_title {
				color:#fff;
			}
		}
*/
	}
	
	
	
	span.single_pa_title {
		font-size: 56px;
		line-height: 56px;
		margin-top:80px;
		br {
			display: none;
		}
	}
	
	
	
	.pa_dots_wrapper {
		bottom:27px;
	}

.pa_dot {
	width:7px;
	height:7px;
}







.single_pa:nth-of-type(1) {
	 .blue_image {
			// background-size:668px;
			background-position: 0 -50px;
	}
	.orange_image {
		background-position: 0 -50px;
	}
}


.single_pa:nth-of-type(2) {
	.blue_image {

		background: url(#{$themePath}images/pa-personal-injury-mobile.jpg) top center;
		background-size: cover;
		background-position: 0 -60px;

	}
	.orange_image {

		background: url(#{$themePath}images/pa-personal-injury-hover-mobile.jpg) top center;
		background-size: cover;
		background-position: 0 -60px;

	}
}


.single_pa:nth-of-type(3) {
	.blue_image {

		background: url(#{$themePath}images/pa-estate-planning-mobile.jpg) top center;
		background-size: cover;
		background-position: 0 -140px;

	}
	.orange_image {

		background: url(#{$themePath}images/pa-estate-planning-hover-mobile.jpg) top center;
		background-size: cover;
		background-position: 0 -140px;

	}
}

.pa_view_more {
	padding: 20px 0;
	font-size: 17px;
}


} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.single_pa {
		height: 159px;
	}
	
	span.single_pa_title {
		font-size: 30px;
		line-height: 30px;
		margin-top: 37px;
		br {
			display: inline-block;
		}
	}
	
	
	.pa_dots_wrapper {
    bottom: 17px;
	}
	
	.pa_dot {
    width: 4px;
    height: 4px;
    margin: 0px;
}



.single_pa:nth-of-type(1) {
	 .blue_image {
			background: url(#{$themePath}images/pa-civil-litigation-mobile.jpg) top center;
			background-size: cover;
			background-position: 0 -50px;
	}
	.orange_image {
		background-position: 0 -50px;
	}
}



.single_pa:nth-of-type(3) {
	.blue_image {

		
		background-position: 0 -80px;

	}
	.orange_image {

		
		background-position: 0 -80px;

	}
}


.pa_view_more {
	padding: 18px 0;
	font-size: 13px;
	letter-spacing: 4px;
}




	
	
} /* Media Query */

