section#section_two {
	width:100%;
	margin-top:0px;
	background:#fff;
	
	
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}



.testi_wrapper {
	width:50%;
	float:left;
	height:1040px;
	background: $blue;
	padding:154px 0px 0 150px;
	position: relative;
	
	
}


.testi_inner_wrapper {
	span.large_header {
		font-family: $nexalight;
		color:#fff;
		font-size: 50px;
		line-height: 50px;
		display: inline-block;
		border-bottom:1px solid $orange;
		padding-bottom:35px;
		margin-bottom:40px;
		letter-spacing: 3px;
	}
}

.testi_slide {
	.testi_content {
		color:#fff;
		font-family:$tavirajlight;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.3px;
		max-width: 480px;
		
		p {
			margin-bottom: 35px;
		}
	}
}


.testi_name_wrapper {
	margin:95px 0 0 0;
	svg {
		width:30px;
		margin-right:7px;
		position: relative;
    top: 0px;
    height: 13px;
		path {
			fill:#fff;
		}
	}
	span.testi_name {
		font-family: $tavirajbold;
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 5px;
	}
}




.reviews_wrapper {
	width:50%;
	float:right;
	height:1040px;
	background: url(#{$themePath}images/bg-pattern-waves.jpg) top left repeat;
	position: relative;
	z-index: 20;
	
	
}


.video_wrapper {
	margin:155px 0 0 -130px;
	width:859px;
	height:453px;
	background: url(#{$themePath}images/video-thumb-desktop.jpg);
	position: relative;
	cursor: pointer;
	video {
		
	}
	.homepage_video_inner {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: flex;
		justify-content: center;
		align-items: center; 
		pointer-events: none;
		
	}
	svg.homepage_video_play {
		width:130px;
		display: block;
		.homepage_video-cls-1,.homepage_video-cls-3 {
			fill:#fff;
			transition: all .2s ease-in-out;
		}
		.homepage_video-cls-1 {
			opacity:0.2;isolation:isolate;
		}
		.homepage_video-cls-2 {
			fill:none;
			stroke:#fff;
			stroke-miterlimit:10;
			stroke-width:3px;
			transition: all .2s ease-in-out;
		}
	}
}


.video_wrapper:hover {
	.homepage_video_inner {
		svg.homepage_video_play {
			.homepage_video-cls-1,.homepage_video-cls-3 {
				fill:$blue;
		}
		.homepage_video-cls-1 {
			opacity:0.2;isolation:isolate;
		}
		.homepage_video-cls-2 {
			fill:none;
			stroke:$blue;
			stroke-miterlimit:10;
			stroke-width:3px;
		}
		}
	}
}



.review_slideshow {
	margin-top:125px;
	margin-left:68px;
	max-width:795px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}

.single_review {
	.review_middle_row {
		img.review_social_media.yelp {
			// width:120px;
		}
	}
}


.single_review {
	.review_middle_row {
		img.review_social_media.avvo {
			height:28px;
			top:5px;
			position: relative;
		}
	}
}

.single_review {
	.review_middle_row {
		img.review_social_media.facebook {
			height:31px;
			top:4px;
			position: relative;
		}
	}
}


.slick-active:nth-of-type(3n + 3) {
	.vertical_lines {
		display: none;
	}
}


.single_review {
	text-align: center;
	position: relative;
	padding-bottom: 35px;
	img.review_stars {
		width:120px;
		display: block;
		margin:0 auto 18px;
	}
	.review_middle_row {
		height:40px;
		display: flex;
		justify-content: center;
		margin-bottom:16px;
		img.review_social_media {
			height:37px;
		}
		span.review_bullet {
			font-size: 25px;
			position: relative;
			margin:5px 7px 0;
		}
		span.review_rating {
			font-family: $tavirajsemibold;
			font-size: 40px;
			color:$blue;
			position: relative;
		}
	}
	div.line {
		width:130px;
		display: block;
		margin:12px auto 16px;
		height:1px;
		background:#c7cacf;
	}
	span.review_title {
		font-size:15px;
		font-family: $nexabold;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.vertical_lines {
		position: absolute;
		top:0px;
		right:0;
		// height:185px;
		width:2.6px;
	}
}



.test_back_next_wrapper {
	position: absolute;
	bottom: -75px;
	right:50px;
	display: flex;
}


svg.back_icon {
	height:55px;
	cursor: pointer;
	width:33px;
	&:hover {
		.back_icon_cls-1 {
			stroke:$orange;
		}
	}
	.back_icon_cls-1 {
		fill:none;
		stroke:#c7cacf;
		// stroke-miterlimit:10;
		transition: all .2s ease-in-out;
	}
}


svg.next_icon {
	height:55px;
	cursor: pointer;
	width:33px;
	&:hover {
		.next_icon_cls-1 {
			stroke:$orange;
		}
	}
	.next_icon_cls-1 {
		fill:none;
		stroke:#c7cacf;
		// stroke-miterlimit:10;
		transition: all .2s ease-in-out;
		
	}
}

.counter_wrapper {
	margin:21px 27px 0;
	width:130px;
	text-align: center;
	
		color:$orange;
		font-size: 20px;
		font-family:$tavirajsemibold;
		span.counter_spacing {
			margin:0 10px 0 5px;
		}
	}
	
	
	
	@media screen and (max-width: 1600px) {
		
		
		.testi_wrapper {
			padding: 106px 0px 0 78px;
			height: 987px;
			width:48%;
		}
		
		
		.testi_name_wrapper {
    		margin: 84px 0 0 0;
		}
		
		
		
	.testi_slide {
		.testi_content {
    	letter-spacing: 0.1px;
    	 max-width: 470px;
   	}
	}
	
	
	.video_wrapper {
    margin: 111px 0 0 -70px;
    width:730px;
	  height:380px;
    video {
	    
    }
	}
		
		
	.review_slideshow {
    margin-top: 157px;
    margin-left: 30px;
    max-width: 652px;
   }
		
		
	.test_back_next_wrapper {
     bottom: -90px;
   }
   
   
   .reviews_wrapper {
	   height: 987px;
	   width:52%;
   }
		
		
	} /* Media Query */
	
	
	
	@media screen and (max-width: 1300px) {
		
		
		
		section#section_two {
			display: flex;
			flex-direction: column;
			
		}
		
		
		.testi_wrapper {
			width:100%;
			float:none;
			order:2;
			padding: 76px 30px 0px;
			height:auto;
		}
		
		
		
		.reviews_wrapper {
			width:100%;
			float:none;
			order:1;
		}
		
		.video_wrapper {
			margin:50px auto 0;
			width:794px;
			height:419px;
			video {
				
			}
		}
		
		
		.testi_slideshow {
			max-width: 840px;
			margin-left:auto;
			margin-right:auto;
		}
		
		
		.testi_inner_wrapper {
			span.large_header {
				width:100%;
				max-width: 840px;
				margin-left:auto;
				margin-right:auto;
				display: block;
				text-align: center;
				padding-bottom: 34px;
				margin-bottom: 33px;
				br {
					display: none;
				}
			}
		} 
		
		
		.testi_slide {
			text-align: center;
			.testi_content {
				max-width:100%;
				
			}
		} 
		
		
		
		
		.testi_name_wrapper {
    	margin: 42px 0 0 0;
		}
		
		.test_back_next_wrapper {
			position: static;
			margin:60px auto 78px;
			width:242px;
		}
		
		
		.reviews_wrapper {
			padding-right:30px;
			height: 735px;
		}
		
		.review_slideshow {
			margin:60px auto 0;
			max-width: 950px;
		}
		
		
	} /* Media Query */
	
	
	
	@media screen and (max-width: 950px) {
		
		section#section_two {
			
		}
		
		.video_wrapper {
			display: none;
		}
		
		
		.reviews_wrapper {
			padding:0;
			height: 229px;
			overflow: hidden;
		}
		
		
		.review_slideshow {
    	margin: 40px auto 0;
    	.slick-dots {
    		bottom: -5px;
    		li.slick-active {
    			button {
    				&:before {
    					color:$blue;
    					
    				}
    			}
    		}
    		li:hover {
    			button {
    				&:before {
    					color:$blue;
    				}
    			}
    		}
    		li {
    			margin:0;
    			width: 15px;
    			button {
    				&:before {
    					opacity: 1;
    					color: $orange;
    					font-size: 8px;
    				}
    			}
    		}
    	}
    }
    
    .testi_wrapper {
	    padding: 60px 30px 0px;
    }
    
    
    .testi_inner_wrapper {
			span.large_header {
				max-width: 640px;
				padding-bottom:32px;
				margin-bottom: 33px;
				font-size: 45px;
				br {
					
				}
			}
		} 
    
   
   
   .testi_slideshow {
			max-width: 640px;
			margin-left:auto;
			margin-right:auto;
		}
		
		
		
	.test_back_next_wrapper {
    position: static;
    margin: 51px auto 68px;
    width: 242px;
	}
	
	
	
	.single_review {
		.vertical_lines {
			// display: none;
		}
	} 
   
    
		
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 767px) {
		
		
		
	.single_review {
		.vertical_lines {
			display: none;
		}
	}
		
		
	.testi_wrapper {
		padding: 56px 22px 0px;
	}
	
	
	.testi_inner_wrapper {
		span.large_header {
			font-size:34px;
			line-height: 36px;
			padding-bottom: 20px;
			margin-bottom:18px;
			
			br {
				display: inline;
			}
		}
	} 
	
	
	
	
		
		
		
	} /* Media Query */


