section.section_six {
	width:100%;
	background: url(#{$themePath}images/bg-pattern-waves.jpg);
	display: flex;
}

.section_six_img_wrapper {
	height:1150px;
	width:57%;
}

.section_six_img_inner {
	// background: url(#{$themePath}images/sp-attorneys-image-desktop.jpg);
	background-size: 2000px auto;
	background-position: -620px top;
	width:100%;
	height:100%;
}


.section_six_selling_wrapper {
	width:43%;
	display: flex;
  justify-content: center;
  align-items: center; 
}

.selling_point_wrapper {
	// width:105%;
	width:855px;
	
	background: $blue;
	margin-left:-255px;
	position: relative;
}


a.sec_six_why_button {
	color:#fff;
	background: $darkblue;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $nexabold;
	font-size: 16px;
	padding:36px 180px;
	display: inline-block;
	letter-spacing: 8px;
	
	transform: rotate(-90deg);
	transform-origin: 0 0 0;
	position: absolute;
	top: 804px;
	left: -61px;
	transition: all .2s ease-in-out;
	&:hover {
		background: $orange;
	}
}



.selling_point_slideshow {
	position: relative;
	height:895px;
	
}

.selling_point_slide {
	text-align: center;
	margin-top:130px;
	img.sp_icon, svg {
		width:140px;
		display: block;
		margin:0 auto;
	}
	svg {
		.sp-1-cls-1, .sp-2-cls-1, .sp-3-cls-1{
			fill:#fff;
		}
	}
}


span.sp_slide_title {
	color:$orange;
	text-transform: lowercase;
	font-size: 80px;
	font-family: $nexalight;
	letter-spacing: 5.5px;
	margin-top:40px;
	display: inline-block;
	padding:0 30px 45px;
}

span.sp_slide_content {
	display: block;
	border-top:1px solid #fff;
	color:#fff;
	font-family:$tavirajlight;
	font-size:22px;
	line-height: 42px;
	max-width:520px;
	margin:0px auto 0;
	padding-top:42px;
	display: block;
	
	letter-spacing: 1px;
}



.sp_arrows_wrapper {
	position: absolute;
	bottom:48px;
	right:45px;
	
	
	.sp_arrows_inner_wrapper {
		display: flex;
	}
	.sp_button {
		width:30px;
		cursor: pointer;
		&:hover {
			svg {
				width:100%;
				.arrow_left-cls-1, .arrow_right_cls-1 {
					stroke:$orange;
				}
			}
		}
	}
}
	
svg {
	.arrow_left-cls-1 {
		fill:none;
		stroke:#7c8aae;
		stroke-miterlimit:10;
		transition: all .2s ease-in-out;
	}
	.arrow_right_cls-1 {
		fill:none;
		stroke:#7c8aae;
		stroke-miterlimit:10;
		transition: all .2s ease-in-out;
	}
}


.sp_counter {
	color:$orange;
	font-size:20px;
	font-family: $tavirajsemibold;
	margin:20px 60px;
}



@media screen and (max-width: 1870px) {
	
.section_six_img_inner {
	background-position: -720px top;
}

	
	.selling_point_wrapper {
    width: 765px;
    margin-left: -136px;
   }
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1645px) {
	
	
	
	.section_six_img_inner {
		background-size: 1817px auto;
		background-position: -660px top;
	}
	
	
	.selling_point_wrapper {
    width: 665px;
    margin-left: -176px;
   }
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1500px) {
	
	
	
	.section_six_img_wrapper {
    width: 56%;
    height: 1018px;
	}
	
	.section_six_selling_wrapper {
    width: 44%;
   }
   
   
   .selling_point_slideshow {
	   max-width: 440px;
	   margin:0 auto;
	   height:815px;
   }
   
   
   .section_six_img_inner {
		background-size: 1490px auto;
		background-position: -530px top;
	}
	
	.selling_point_wrapper {
		
		width:638px;
	}
	
	.selling_point_slide {
    margin-top: 95px;
   }
   
   
   span.sp_slide_title {
	   font-size: 70px;
	   margin-top: 21px;
   }
   
   
   .selling_point_slide {
	   width:445px;
   }
   
   span.sp_slide_content {
	   padding-top: 34px;
   }
   
   
   .sp_arrows_wrapper {
	   bottom:45px;
	   right:-55px;
   }
   
   
   .sp_counter {
	   margin: 20px 44px;
   }
   
   a.sec_six_why_button {
   	padding: 33px 140px;
   	top: 731px;
   	left: -70px;
   }
   
   
  
       
   
	
} /* Media Query */



@media screen and (max-width: 1325px) {
	
	 .section_six_img_inner {
			background-position: -580px top;
		}
	
	
} /* Media Query */


@media screen and (max-width: 1265px) {
	
	
	section.section_six {
		display: block;
	}
	
	.section_six_img_wrapper {
		width:100%;
		height: 600px;
		display: block;
	}
	
	
	
	.section_six_img_inner {
		background-size: 1745px auto;
		background-position: center -107px;
	}
	
	.selling_point_wrapper {
		margin-left:0;
		width: 100%;
		
	}
	
	
	.section_six_selling_wrapper {
		width:100%;
		padding:0 55px 123px;
		max-width: 970px;
		margin: -152px auto 0;
	}
	
	a.sec_six_why_button {
    left: -57px;
    top: 755px;
    padding: 33px 165px;
   }
   
   .selling_point_slide {
    margin-top: 114px;
	}
	
	span.sp_slide_title {
    margin-top: 33px;
    padding: 0 30px 32px;
    font-size:80px;
    letter-spacing: 5px;
		}
		
	.selling_point_slideshow {
    max-width: 521px;
    height: 838px;
   }
   
   span.sp_slide_content {
	   padding-top: 27px;
   }
   
   .sp_arrows_wrapper {
	  bottom: 88px; 
   }
   
  
       
       
	
	
} /* Media Query */



@media screen and (max-width: 1020px) {
	
	
	.section_six_selling_wrapper {
		margin-top:0;
		  padding:0;
	}
	    
	 
	 .section_six_img_wrapper {
		 display: none;
	 }
	 
	 
	 a.sec_six_why_button {
	   display: none;
   }
   
  
   
   .selling_point_slide {
    	margin-top: 83px;
		}	
	
	span.sp_slide_title {
		 margin-top: 15px;
		 padding: 0 30px 25px;
	}
	
	
	.selling_point_slideshow {
		padding-bottom:165px;
		height:auto;
	}
	   
	 .selling_point_slide {
		 
	 }
	 
	 .sp_arrows_wrapper {
	  bottom: 70px; 
	  left:0;
	  width:100%;
	  position: absolute;
	  
	  .sp_arrows_inner_wrapper {
		  justify-content: center;
	  }
   }
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.selling_point_slide {
		margin-top: 56px;
		img.sp_icon {
			width:125px;
		}
	} 
	
	
	span.sp_slide_title {
		font-size: 45px;
		letter-spacing: 2.5px;
	}
	
	span.sp_slide_content {
		font-size: 20px;
		line-height: 29px;
	}
	
	.selling_point_slideshow {
		padding-left: 25px;
		padding-right:25px;
	}
	
	
	.sp_arrows_wrapper {
    bottom: 62px;
   }
	
	
	
	
} /* Media Query */
    