section#section_two {
	width:100%;
	margin-top:0px;
	background:#fff;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}



.testi_wrapper {
	width:50%;
	float:left;
	height:1040px;
	background: $blue;
	padding:154px 0px 0 130px;
	position: relative;
}


.testi_inner_wrapper {
	span.large_header {
		font-family: $nexalight;
		color:#fff;
		font-size: 50px;
		line-height: 50px;
		display: inline-block;
		border-bottom:1px solid $orange;
		padding-bottom:35px;
		margin-bottom:40px;
	}
}

.testi_slide {
	.testi_content {
		color:#fff;
		font-family:$tavirajlight;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.3px;
		max-width: 480px;
		
		p {
			margin-bottom: 35px;
		}
	}
}


.testi_name_wrapper {
	margin:95px 0 0 0;
	svg {
		width:30px;
		margin-right:7px;
		path {
			fill:#fff;
		}
	}
	span.testi_name {
		font-family: $tavirajbold;
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 5px;
	}
}




.reviews_wrapper {
	width:50%;
	float:right;
	height:1040px;
	background: url(#{$themePath}images/bg-pattern-waves.jpg) top left repeat;
	position: relative;
	z-index: 20;
}


.video_wrapper {
	margin:155px 0 0 -130px;
	video {
		
	}
}



.review_slideshow {
	margin-top:125px;
	margin-left:68px;
	max-width:795px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}


.single_review:nth-of-type(2) {
	.review_middle_row {
		img.review_social_media {
			height:28px;
			top:5px;
			position: relative;
		}
	}
}

.single_review:nth-of-type(3) {
	.review_middle_row {
		img.review_social_media {
			height:31px;
			top:4px;
			position: relative;
		}
	}
}


.slick-active:nth-of-type(3n + 3) {
	.vertical_lines {
		display: none;
	}
}


.single_review {
	text-align: center;
	position: relative;

	img.review_stars {
		width:120px;
		display: block;
		margin:0 auto 18px;
	}
	.review_middle_row {
		height:40px;
		display: flex;
		justify-content: center;
		margin-bottom:16px;
		img.review_social_media {
			height:37px;
		}
		span.review_bullet {
			font-size: 25px;
			position: relative;
			margin:5px 7px 0;
		}
		span.review_rating {
			font-family: $tavirajsemibold;
			font-size: 40px;
			color:$blue;
			position: relative;
		}
	}
	div.line {
		width:130px;
		display: block;
		margin:12px auto 16px;
		height:1px;
		background:#c7cacf;
	}
	span.review_title {
		font-size:15px;
		font-family: $nexabold;
		text-transform: uppercase;
		letter-spacing: 1.6px;
	}
	.vertical_lines {
		position: absolute;
		top:0px;
		right:0;
		// height:185px;
		width:2.6px;
	}
}



.test_back_next_wrapper {
	position: absolute;
	bottom:58px;
	right:50px;
	display: flex;
}


svg.back_icon {
	height:55px;
	cursor: pointer;
	&:hover {
		.back_icon_cls-1 {
			stroke:$orange;
		}
	}
	.back_icon_cls-1 {
		fill:none;
		stroke:#c7cacf;
		// stroke-miterlimit:10;
		transition: all .2s ease-in-out;
	}
}


svg.next_icon {
	height:55px;
	cursor: pointer;
	&:hover {
		.next_icon_cls-1 {
			stroke:$orange;
		}
	}
	.next_icon_cls-1 {
		fill:none;
		stroke:#c7cacf;
		// stroke-miterlimit:10;
		transition: all .2s ease-in-out;
		
	}
}

.counter_wrapper {
	margin:21px 27px 0;
	width:130px;
	text-align: center;
	span {
		color:$orange;
		font-size: 20px;
		font-family:$tavirajsemibold;
		span.counter_spacing {
			margin:0 10px 0 5px;
		}
	}
}

