.dropdown_menu_wrapper {
	width:100%;
	height:100%;

	position: fixed;
	z-index:100;
	display: flex;
}


.dropdown_form {
	width:650px;
	background: #fff;
}


.dropdown_menu {
	width:calc(100% - 650px);
	background: $blue;
	display: flex;
	ul {
		list-style: none;
		margin:0;
		li {
			font-family: $nexalight;
			text-transform: uppercase;
			margin-bottom: 55px;
			letter-spacing: 2.5px;
			a {
				color:#fff;
				text-decoration: none;
				display: inline-block;
				padding-bottom:9px;
				border-bottom:2px solid $orange;
				
				&:after {
					content:"+";
					display: inline-block;
					margin-left:15px;
				}
			}
		}
	}
	ul.sub-menu {
		display: none;
	}
}



.menu_col {
	width:33.333%;
	border:1px solid #fff;
	font-size: 18px;
	
	display: flex;
  justify-content: center;
  align-items: center; 
}