.dropdown_menu_wrapper {
	width:100%;
	height:100%;

	position: fixed;
	z-index:100;
	display: flex;
	
	
	opacity: 0;
	visibility: hidden;
	z-index:200;
}

.dropdown_menu_wrapper.open {
	opacity: 1;
	visibility: visible;
}



.dropdown_form {
	width:650px;
	background: #fff;
}


.dropdown_menu {
	width:calc(100% - 650px);
	background: rgba(16, 59, 153, 0.98);
	display: flex;
	// justify-content: center;
	align-items: center; 
	position: relative;
	.menu-header {
		
	}
	ul.menu {
		padding-left:20%;
		width:400px;
	}
	ul {
		list-style: none;
		margin:0;
	
		li.menu-item-has-children {
			> a {
				&:after {
					content:"+";
					display: inline-block;
					margin-left:15px;
				}
			}
		}
		li {
			font-family: $nexalight;
			text-transform: uppercase;
			margin-bottom: 55px;
			letter-spacing: 2.5px;
			a {
				color:#fff;
				text-decoration: none;
				display: inline-block;
				padding-bottom:9px;
				border-bottom:2px solid transparent;
				transition: all .2s ease-in-out;
				&:hover {
					border-bottom:2px solid $orange;
				}
				
				
			}
		}
	}
	ul.sub-menu {
		width:100%;
	}
}


.sub_menu_wrapper, .sub_menu_nested_wrapper {
	position: absolute;
	top:0;
	
	
	height:100%;
	// background: red;
	
	display: flex;
	//justify-content: center;
	align-items: center; 
	
	
	opacity: 0;
	  
	  
}



.sub_menu_wrapper {
	left:35%;
	width:100%;
}


.sub_menu_wrapper.active {
	opacity: 1;
}


.sub_menu_nested_wrapper {
	width:100%;
	left:35%;
}


.sub_menu_nested_wrapper.active {
	opacity: 1;
}




span.close {
	color:#fff;
	position: absolute;
	top:35px;
	right:35px;
	z-index: 250;
}