.dropdown_menu_wrapper {
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	z-index:100;
	display: flex;
	opacity: 0;
	visibility: hidden;
	z-index:200;
}

.dropdown_menu_wrapper.open {
	opacity: 1;
	visibility: visible;
}






.dropdown_form {
	width:650px;
	background: #fff;
	padding:0 0px 60px;
	
	transform: translateX(-100%);
	transition: all 700ms cubic-bezier(.17,.66,.34,.98);
	overflow-y: scroll;
	.gform_wrapper {
		padding-left:85px;
		padding-right:85px;
	}
	ul {
		list-style: none;
		
		margin: 26px 0 0;
		li {
			width:100%;
			margin-bottom:15px;
			label {
				display: none;
			}
			
			input, select, textarea {
				border: none;
				background: #f3f3f3;
				width:100%;
				display: block;
				font-family: $nexalight;
				color:$darkblue;
				font-size:19px;
				padding:22px 16px;
				-webkit-appearance: none;
			}
			select {
				background:#f3f3f3 url(#{$themePath}images/tri.png) no-repeat;
				padding-right:20px;
				background-size: 10px;
				background-position: calc(100% - 14px) center;
				border-radius: 0;
			}
			textarea {
				height:125px;
			}
		}
		li ::-webkit-input-placeholder {
        color: $darkblue; }
     li ::-moz-placeholder {
        color: $darkblue; }
     li :-moz-placeholder {
        color: $darkblue; }
     li :-ms-input-placeholder {
        color: $darkblue; }
      li ::-moz-placeholder {
        opacity: 1; }
	}
	input.gform_button {
		background: $orange;
		color:#fff;
		border:none;
		font-family: $tavirajsemibold;
		text-transform: uppercase;
		padding:12px 55px;
		font-size:22px;
		float: right;
		border-radius: 3px;
		margin-top:5px;
	}
}


img.form_logo {
	width:344px;
	margin-top:50px;
	margin-left:45px;
}


span.menu_request {
	font-family: $tavirajregular;
	color:$blue;
	display: block;
	text-align: center;
	margin:85px auto 0;
	font-size: 45px;
	line-height: 50px;
}


.dropdown_menu {
	width:calc(100% - 650px);
	background: rgba(16, 59, 153, 0.98);
	display: flex;
	// justify-content: center;
	align-items: center; 
	position: relative;
	
	transform: translateX(100%);
	transition: all 700ms cubic-bezier(.17,.66,.34,.98);
	overflow-y: scroll;
	.menu-header {
		opacity: 0;
		width:33.333%
	}
	ul.menu {
		padding-left:22%;
		//width:400px;
	}
	ul {
		list-style: none;
		margin:0;
	
		li.menu-item-has-children {
			> a {
				&:after {
					content:"+";
					display: inline-block;
					margin-left:15px;
				}
			}
		}
		li {
			font-family: $nexalight;
			text-transform: uppercase;
			 margin-bottom: 40px;
			letter-spacing: 2.5px;
			font-size:18px;
			max-width:330px;
			// background: red;
			line-height: 23px;
			a.current {
				border-bottom:2px solid $orange;
				&:after {
					content:"-";
				}
			}
			a {
				color:#fff;
				text-decoration: none;
				display: inline-block;
				padding-bottom:9px;
				border-bottom:2px solid transparent;
				transition: all .2s ease-in-out;
				&:hover {
					border-bottom:2px solid $orange;
				}
				
				
			}
		}
	}
	ul.sub-menu {
		width:100%;
	}
}



span.menu_required {
	font-family: $nexalight;
	display: block;
	color:$blue;
	font-size: 18px;
	margin-left:85px;
	margin-top:20px;
	letter-spacing: 1.5px;
}


.dropdown_inner_form {
	opacity: 0;
	
}



.dropdown_menu_wrapper.open {
	
	.dropdown_form, .dropdown_menu {
		transform: translateX(0%);
	}
	
	
	.dropdown_form.close {
		transform: translateX(-100%);
	}
	
	.dropdown_menu.close {
		transform: translateX(100%);
	}
	
	.dropdown_inner_form {
		animation-name: top_form_fade;
		animation-duration: 600ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
		animation-delay: 900ms;
		
	}
	
	.menu-header {
		
		animation-name: top_menu_fade;
		animation-duration: 600ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
		animation-delay: 900ms;
		
	}
	
	
	
	
	
	
}



@keyframes top_menu_fade {
  
  from {
    opacity: 0;
  }

  to {
    opacity: 1; 
  }

}


@keyframes top_form_fade {
  
  from {
    opacity: 0;
  }

  to {
    opacity: 1; 
  }

}









.sub_menu_wrapper, .sub_menu_nested_wrapper {
	position: absolute;
	top:0;
	
	
	height:100%;
	// background: red;
	
	display: flex;
	//justify-content: center;
	align-items: center; 
	
	
	opacity: 0;
	visibility: hidden;
	  
	  
}



.sub_menu_wrapper {
	left:33.333%;
	width:100%;
	padding-left:1%;
	padding-right:1%;
}




.sub_menu_nested_wrapper {
	width:100%;
	left:33.333%;
	z-index:100;
	padding-left:1%;
	padding-right:1%;
}


.sub_menu_wrapper.active, .sub_menu_nested_wrapper.active {
	animation-name: submenu_fade, submenu_move;
  animation-duration: 600ms, 1000ms;
  animation-fill-mode: both;
  animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
 }

@keyframes submenu_fade {
  from {
    opacity: 0;
 		visibility: hidden;
 		
  }

  to {
    opacity: 1;
		visibility: visible;
    
  }
}


@keyframes submenu_move {
  from {
    transform: translateY(-30px);
 		
  }

  to {
     transform: translateY(0px);
    
  }
}

.close_wrapper {
	position: absolute;
	top:55px;
	right:35px;
	z-index: 250;
	cursor: pointer;
	// background: red;
	span {
		display: block;
		width:50px;
		height:3px;
		background: #fff;
		transition: all .2s ease-in-out;
	}
	span:first-of-type {
		transform-origin: 25px 2px 0;
		transform: rotate(-45deg);
	}
	span:last-of-type {
		transform-origin: 27px 0px 0;
		transform: rotate(45deg);
	}
}



.close_wrapper:hover {
	span {
		background: $orange;
	}
}


@media screen and (max-width: 1881px) {
	
	
	.dropdown_form {
		width:515px;
		.gform_wrapper {
			padding-left:40px;
			padding-right:40px;
		}
	}
	
	
	span.menu_required {
		margin-left:40px;
	}
	
	
	.dropdown_menu {
		width:calc(100% - 515px);
		.menu-header {
			width:33.333%;
			
		}
		ul {
			li {
				
				a {
					
				}
			}
		}
		ul.menu {
			padding-left:50px;
			// width:285px;
		}
		
	}
	
	
	.sub_menu_wrapper {
		left:33.333%;
	}
	
	.sub_menu_nested_wrapper {
    left: 33.333%;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1660px) {
	
	
	.dropdown_form {
		width:450px;
	}
	
	.dropdown_menu {
		width:calc(100% - 450px);
	}
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1497px) {
	
	
	.dropdown_form {
		width:45%;
	}
	
	.dropdown_menu {
		width:55%;
		display: block;
		
		.menu-header {
			width:325px;
				//display: flex;
			  //justify-content: center;
			  //align-items: center; 
			  height:100%;
			  // background: red;
			  margin:0 auto;
			  padding-top:40%;
			  padding-bottom:100px
		}
		ul {
			li {
				margin-bottom: 35px;
				a {
					padding-bottom: 2px;
				}
			}
		}
		ul.menu {
			padding:0;
		}
		ul.sub-menu {
			margin-top:0px;
			opacity: 0;
			visibility: hidden;
			max-height: 0;
			transition: all 400ms ease-in-out;
		}
		ul.sub-menu.mobile_slide {
			max-height: 3000px;
			opacity: 1;
			visibility: visible;
			margin-top:35px;
		} 
	}
	
	
		
	
} /* Media Query */



@media screen and (max-width: 1020px) {
	
	
	.dropdown_menu_wrapper {
		display: block;
		-webkit-overflow-scrolling: touch;
	}
	
	
	
	.dropdown_form {
		display: none;
	}
	
	.dropdown_menu {
		width:100%;
		background: $blue;
		display: block;
		height:100%;
		.menu-header {
			padding-top: 184px;
			width:100%;
			height:100%;
			// padding:0;
			padding-bottom: 50px;
		}
		ul {
			text-align: center;
			li {
				max-width:100%;
				margin-bottom:0;
				a.current {
					border-bottom:none;
					background: $orange;
				}
				a {
					border-top:1px solid #0c348c;
					display: block;
					border-bottom:none;
					padding:17px 25px;
					&:hover {
						border-bottom: none;
					}
				}
			}
		}
		ul.sub-menu.mobile_slide {
			margin-top:0;
		}
	}
	
	
	    
	
	
	
	
	
} /* Media Query */