footer {
	text-align: center;
}

.top_footer {
	width:100%;
	background: $darkblue;
	height:2000px;
}

.inner_top_footer {
	margin:0px auto;
	padding: 145px 0 0;
	max-width: 1210px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}

img.footer_icon {
	width:180px;
	margin:0 auto;
	display: block;
}


span.top_footer_content {
	color:$orange;
	font-size:80px;
	font-weight: 300;
	font-style: normal;
	font-family: $tavirajlight;
	margin:65px 0 0;
	display: block;
	line-height: 90px;
	padding-bottom:74px;
	border-bottom:3px solid #fff;
}




.location_col {
	width: 50%;
	margin:70px 0 0;
	&:first-of-type {
		float:left;
		padding-right:20px;
		padding-top:25px;
	}
	&:last-of-type {
		float:right;
		padding-left:20px;
		text-align: left;
		color:#fff;
		font-family: $nexalight;
		font-size: 19px;
		line-height: 30px;
		
		p {
			margin-bottom:30px;
		}
		blockquote {
			font-size: 20px;
			line-height: 33px;
			text-transform: uppercase;
			color:$lightblue;
			font-family: $nexabold;
			margin-bottom:28px;
			letter-spacing: 2px;
		}
	}
}


span.our_office {
	color:$lightblue;
	text-transform: uppercase;
	font-family: $tavirajbold;
	font-size: 20px;
	letter-spacing: 4px;
	margin-bottom:43px;
	display: block;
	&:before {
		content:"";
		width:6px;
		height:6px;
		display: inline-block;
		background: $lightblue;
		border-radius: 50%;
		position: relative;
		top:-4px;
		margin-right:25px;
	}
	&:after {
		content:"";
		width:6px;
		height:6px;
		display: inline-block;
		background: $lightblue;
		border-radius: 50%;
		position: relative;
		top:-4px;
		margin-left:25px;
	}
}


a.address {
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
	font-family: $nexalight;
	display: block;
	font-size: 26px;
	line-height: 37px;
	letter-spacing: 2px;
}


a.directions {
	text-transform: lowercase;
	text-decoration: none;
	font-family: $tavirajsemibold;
	color:#fff;
	font-size: 18px;
	border-bottom:3px solid #fff;
	padding:0 5px 15px;
	display: inline-block;
	margin:35px 0 60px;
	letter-spacing: 1px;
	transition: all .2s ease-in-out;
	&:hover {
		color:$lightblue;
		border-bottom:3px solid $lightblue;
	}
}


a.tel {
	display: block;
	color:$orange;
	text-decoration: none;
	font-family: $tavirajmedium;
	font-size: 40px;
	
}






