footer {
	text-align: center;
}

.top_footer {
	width:100%;
	background: $darkblue;
	
}

.inner_top_footer {
	margin:0px auto;
	padding: 145px 90px 404px;
	max-width: 1390px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}

img.footer_icon, svg.footer_icon {
	width:180px;
	margin:0 auto;
	display: block;
	.footer-cls-1{
		fill:#fff;
	}
}


span.top_footer_content {
	color:$orange;
	font-size:80px;
	font-weight: 300;
	font-style: normal;
	font-family: $tavirajlight;
	margin:65px 0 0;
	display: block;
	line-height: 90px;
	padding-bottom:74px;
	border-bottom:3px solid #fff;
}




.location_col {
	width: 50%;
	margin:70px 0 0;
	&:first-of-type {
		float:left;
		padding-right:20px;
		padding-top:25px;
	}
	&:last-of-type {
		float:right;
		// padding-left:20px;
		text-align: left;
		color:#fff;
		font-family: $nexalight;
		font-size: 19px;
		line-height: 30px;
		
		p {
			margin-bottom:30px;
			letter-spacing: 0.2px;
		}
		blockquote {
			font-size: 20px;
			line-height: 33px;
			text-transform: uppercase;
			color:$lightblue;
			font-family: $nexabold;
			margin-bottom:28px;
			letter-spacing: 2.5px;
		}
	}
}


span.our_office {
	color:$lightblue;
	text-transform: uppercase;
	font-family: $tavirajbold;
	font-size: 20px;
	letter-spacing: 4px;
	margin-bottom:43px;
	display: block;
	&:before {
		content:"";
		width:6px;
		height:6px;
		display: inline-block;
		background: $lightblue;
		border-radius: 50%;
		position: relative;
		top:-4px;
		margin-right:25px;
	}
	&:after {
		content:"";
		width:6px;
		height:6px;
		display: inline-block;
		background: $lightblue;
		border-radius: 50%;
		position: relative;
		top:-4px;
		margin-left:25px;
	}
}


a.address {
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
	font-family: $nexalight;
	display: block;
	font-size: 26px;
	line-height: 37px;
	letter-spacing: 2.5px;
}


a.directions {
	text-transform: lowercase;
	text-decoration: none;
	font-family: $tavirajsemibold;
	color:#fff;
	font-size: 18px;
	border-bottom:3px solid #fff;
	padding:0 5px 15px;
	display: inline-block;
	margin:35px 0 60px;
	letter-spacing: 1px;
	transition: all .2s ease-in-out;
	&:hover {
		color:$lightblue;
		border-bottom:3px solid $lightblue;
	}
}


a.tel {
	display: block;
	color:$orange;
	text-decoration: none;
	font-family: $tavirajmedium;
	font-size: 40px;
	
}

.soical_media {
	display: flex;
	justify-content: center;
	margin-top:32px;
	a:last-of-type {
		border-right:none;
	}
	a {
		width:63px;
		height:63px;
		background: $blue;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .2s ease-in-out;
		border-right:1px solid #2a6ad4;
		&:hover {
			background: #2a6ad4;
		}
		&:nth-of-type(1) {
			img {
				width:22px;
			}
		}
		&:nth-of-type(2) {
			img {
				width:19px;
			}
		}
		&:nth-of-type(3) {
			img {
				width:11px;
			}
		}
		&:nth-of-type(4) {
			img {
				width:37px;
			}
		}
		img {
			display: block;
		}
	}
}


.bottom_footer {
	width:100%;
	height:650px;
	background: url(#{$themePath}images/footer-palm-trees-bg-desktop.jpg) top center;
	padding:0 45px;
	background-size:cover;
	float:left;
}

.footer_form_wrapper {
	background: #fff;
	width:100%;
	max-width: 1326px;
	margin: -310px auto 0;
	text-align: left;
	position: relative;
	z-index: 30;
	span.large_header {
		font-family: $tavirajregular;
		font-size: 60px;
		display: block;
		margin-bottom:46px;
		br {
			display: none;
		}
	}
	ul {
		list-style: none;
		
		li#field_1_1, li#field_1_2, li#field_1_4 {
			width:32.5%;
			margin-right:1.2%;
			input {
				
			}
		}
		 li#field_1_4 {
			 margin-right:0;
			
		 }
		 li#field_1_5 {
			 width:32.5%;
			 margin-right:1.2%;
		 }
		 li#field_1_6 {
			 width:66.2%;
			 &:before {
				 content:"";
			 }
		 }
		 li#field_1_7 {
			 clear: both;
		 }
		 li:not(#field_1_7) {
			 float:left;
		 }
		li {
			margin-bottom:18px;
			position: relative;
			&:before {
				content:"*";
				display: block;
				position: absolute;
				top: 25px;
				right: 12px;
				z-index:40;
				font-size:24px;
				color:$blue;
			}
			label {
			 display: none;	
			}
			input {
				
				
			}
			textarea {
				height:125px;
			}
			
			input, textarea, select {
				border:none;
				background: #f3f3f3;
				width:100%;
				display: block;
				color:$blue;
				font-family: $nexalight;
				border-radius: 0;
				-webkit-appearance: none;
				font-size: 19px;
				padding:23px 17px;
				letter-spacing: 1px;
			}
			select {
				background:#f3f3f3 url(#{$themePath}images/tri.png) no-repeat;
				padding-right:20px;
				background-size: 10px;
				background-position: calc(100% - 14px) center;
			}
		}
		 li ::-webkit-input-placeholder {
        color: $blue; }
     li ::-moz-placeholder {
        color: $blue; }
     li :-moz-placeholder {
        color: $blue; }
     li :-ms-input-placeholder {
        color: $blue; }
      li ::-moz-placeholder {
        opacity: 1; }
	}
	
}

input#gform_submit_button_1 {
	background: $orange;
	color:#fff;
	border:none;
	font-family: $tavirajsemibold;
	text-transform: uppercase;
	font-size:22px;
	padding:12px 45px;
	border-radius: 2px;
	letter-spacing: 4px;
	transition: all .2s ease-in-out;
	cursor: pointer;
	float:right;
	margin-top:5px;
	&:hover {
		background: $darkblue;
	}
}


.validation_error {
	display: none;
}


.gfield_description, .validation_message {
	color:$orange;
	font-family: $nexalight;
	font-size:14px;
	display: block;
	margin-top:5px;
	text-align: left;
	letter-spacing: 1px;
}




span.my_required_fields {
	font-family: $nexalight;
	font-size: 18px;
	color:$blue;
	text-transform: lowercase;
	letter-spacing: 1.8px;
	span.my_asterisk {
		font-size: 24px;
		font-family: $tavirajlight;
		margin-right:-7px;
		display: inline-block;
	}
}


.footer_form_inner {
	padding: 100px 95px 145px;
}


.footer_bar {
	width:100%;
	height:64px;
	background: $blue;
	color:#fff;
	font-family: $tavirajlight;
	padding:25px 40px;
	// le{tter-spacing: 2px;
	span {
		font-size: 16px;
		float:left;
		br {
			display: none;
		}
	}
	a.ilawyer {
		float:right;
		width:230px;
	}
}


.desktop_social_media {
	position: absolute;
	top:68px;
	right: -78px;
	width:78px;
	height:90px;
	a {
		background: $blue;
		width:78px;
		height:90px;
		// display: block;
		display: flex;
		justify-content: center;
		align-items: center; 
		flex-direction: column;
		transition: all .2s ease-in-out;
		border-bottom:1px solid #2a6ad4;
		&:last-of-type {
			border-bottom:none;
		}
		&:hover {
			background: #2a6ad4;
		}
	}
	a.twitter {
		img {
			width:28px;
		}
	}
	a.yelp {
		img {
			width:25px;
		}
	}
	a.facebook {
		img {
			width:14px;
		}
	}
	a.google {
		img {
			width:41px;
		}
	}
}


@media screen and (max-width: 1575px) {
	
	
	.footer_form_wrapper {
		max-width: 1150px;
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	
	
	.footer_form_wrapper {
		margin: -291px auto 0;
	}
	
	
	    
	
.footer_form_inner {
   padding: 87px 72px 138px;
   span.large_header {
	   margin-bottom: 38px;
   }
}	

.inner_top_footer {
    
   padding: 145px 90px 368px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1340px) {
	
	
	.footer_form_wrapper {
		max-width: 1070px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1270px) {
	
	
	.footer_form_wrapper {
		max-width: 1000px;
	}
	
	.footer_form_wrapper {
    
    span.large_header {
	     font-size:55px;
	     
	     text-align: center;
    }
  }
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	
	.inner_top_footer {
   
   }
	
	
	.footer_form_wrapper {
    margin: -260px auto 0;
    span.large_header {
	   
    }
  }
  
  
  .footer_form_inner {
	  padding: 66px 72px 138px;
  }
	
	
	.desktop_social_media {
		display: none;
	}
	
	
	.inner_top_footer {
		 padding: 100px 63px 324px;
	}
	
	span.top_footer_content {
		font-size: 67px;
		line-height: 74px;
		margin: 53px 0 0;
		padding-bottom: 53px;
	}
	
	
.location_col {
	
	&:first-of-type {
		
		padding-top:0px;
	}
	&:last-of-type {
		
		
		p {
			
		}
		blockquote {
			
		}
	}
}





.footer_form_wrapper {
	
	span.large_header {
		
	}
	ul {
		
		li#field_1_1, li#field_1_2, li#field_1_4 {
			
			input {
				
			}
		}
		 li#field_1_4 {
			 
			
		 }
		 li#field_1_5 {
					 }
		 li#field_1_6 {
			 ;
			 &:before {
				 
			 }
		 }
		 li#field_1_7 {
			 
		 }
		 li:not(#field_1_7) {
			 
		 }
		li {
			
			&:before {
				top: 18px;
			}
			label {
			 	
			}
			input {
				
				
			}
			textarea {
				
			}
			
			input, textarea, select {
				padding: 17px;
				font-size:17px;
				letter-spacing: 0.5px;
			}
			select {
				
			}
		}
	}
	
}



.footer_form_inner {
    padding: 66px 72px 116px;
}


.bottom_footer {
	padding: 0 80px;
}
	
	
	
} /* Media Query */




@media screen and (max-width: 1092px) {
	
	
	
	.footer_form_wrapper {
   	span.large_header {
	    font-size: 43px;
	   
    }
  }
	
	
	
} /* Media Query */




@media screen and (max-width: 1020px) {
	
	
	.inner_top_footer {
    padding: 82px 90px 0;
   }
   
   
   img.footer_icon {
	   width: 149px;
   }
   
   span.top_footer_content {
	   font-size: 45px;
	   line-height: 52px;
	    margin: 39px 0 0;
	    padding-bottom: 40px;
   }
   
   
 .location_col {
		width:100%;
		margin: 50px 0 0;
		&:first-of-type {
			padding:0;
			float:none;
		}
		&:last-of-type {
			padding:0;
			float:none;
			display: none;
			p {
			
			}
			blockquote {
			
			}
		}
	}
	
	
	.soical_media {
		margin-top: 43px;
	}
	
	
	
	
	
	.footer_form_wrapper {
    margin: -304px auto 0;
	}
	
	    .inner_top_footer {
				padding: 82px 90px 372px;
			}
	
	    
	    
	    .footer_form_inner {
		    padding: 48px 72px 116px;
		    span.large_header {
					margin-bottom: 43px;
				}
	    }
	    
	    
	
} /* Media Query */



@media screen and (max-width: 950px) {
	
	
	.bottom_footer {
    padding: 0 58px;
    height: 549px;
    background: url(#{$themePath}images/footer-palm-trees-tablet.jpg) left top;
    background-size:1200px 650px;
   
	}
	
	.footer_form_inner {
    padding: 48px 37px 116px;
    span.large_header {
    font-size: 40px;
		}
	}
	
	
.footer_form_wrapper {
	
	span.large_header {
		
	}
	ul {
		
	
		
		li#field_1_1, li#field_1_2, li#field_1_4 {
			width:49%;
			margin-right: 2%;
			input {
				
			}
		}
		li#field_1_2 {
			margin-right:0;
			input {
				
			}
			
		}
		 li#field_1_4 {
			 
			
		 }
		 li#field_1_5 {
				width:49%;
				margin-right:0;
			}
		 li#field_1_6 {
			 width:100%;
			 float: none;
			 &:before {
				 
			 }
		 }
		 li#field_1_7 {
			 float:none;
		 }
		 li:not(#field_1_7) {
			 
		 }
		li {
			margin-bottom: 16px;
			&:before {
				
			}
			label {
			 	
			}
			input {
				
				
			}
			textarea {
				
			}
			
			input, textarea, select {
				
			}
			select {
				
			}
		}
	}
	
}

input#gform_submit_button_1 {
	margin-top: 20px;
}


span.my_required_fields {
	margin-top: 23px;
	display: block;
}


.footer_bar {
	text-align: center;
	height:auto;
	padding: 20px 40px;
	span {
		float:none;
		display: block;
	}
	a.ilawyer {
		float:none;
		width:230px;
		display: block;
		margin:8px auto 0;
		
		img {
			max-width: 100%;
		}
	}
}
	
	
} /* Media Query */




@media screen and (min-width: 1250px) {
	
	.soical_media {
		display: none;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.footer_form_inner span.large_header {
    font-size: 36px;
	}
	
	.footer_form_inner {
    padding: 50px 37px 116px;
	}
	
	
	
	
	.footer_form_wrapper {
	
	span.large_header {
		line-height: 41px;
		margin-bottom: 28px;
		br {
			display: inline-block;
		}
	}
	ul {
		
	
		
		li#field_1_1, li#field_1_2, li#field_1_4 {
			width:100%;
			margin-right: 0%;
			float:none;
			input {
				
			}
		}
		li#field_1_2 {
			margin-right:0;
			input {
				
			}
			
		}
		 li#field_1_4 {
			 
			
		 }
		 li#field_1_5 {
				width:100%;
				margin-right:0;
				float:none;
			}
		 li#field_1_6 {
			 width:100%;
			 
			 &:before {
				 
			 }
		 }
		 li#field_1_7 {
			 
		 }
		 li:not(#field_1_7) {
			 
		 }
		li {
			    margin-bottom: 12px;
			&:before {
				
			}
			label {
			 	
			}
			input {
				
				
			}
			textarea {
				
			}
			
			input, textarea, select {
				font-size: 16px;
				margin-bottom: 14px;
				letter-spacing: 0.3px;
			}
			select {
				
			}
		}
	}
	
}

	
	
	
	
	.bottom_footer {
		padding:0;
	}
	
	
	.footer_form_wrapper {
    margin:0px auto;
    max-width: 100%;
    
	}
	
	
	.inner_top_footer {
    padding: 51px 23px 69px;
}
	
	
	
	
	.inner_top_footer {
		padding: 51px 23px 0;
	}
	
	img.footer_icon {
	   width: 129px;
  }
	
	
	span.top_footer_content {
		font-size: 26px;
		line-height: 30px;
		margin: 26px 0 0;
		padding-bottom: 37px;
		max-width:260px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.location_col {
		 margin: 38px 0 0;
	}
	   
	span.our_office {
		font-size:17px;
		margin-bottom: 30px;
	}
	
	
	
	
	
	
	
	a.address {
    font-size: 22px;
    line-height: 30px;
   }
   
   a.directions {
	   font-size:16px;
	   margin: 28px 0 30px;
   }
   
   a.tel {
	   font-size:33px;
   }
   
   .soical_media {
    	margin-top: 39px;
		}
		
		
		.social_media {
			display: flex;
		}
		
		
		
		span.my_required_fields {
			font-size:17px;
			margin-top: -95px;
			letter-spacing: 0.8px;
			span.my_asterisk {
				font-size: 17px;
				margin-right: -3px;
			}
		}
		

	
	
	input#gform_submit_button_1 {
		float:none;
		width:100%;
		margin-top: 45px;
		font-size:18px;
		letter-spacing: 0.5px;
	}
	
	
	.footer_form_inner {
    padding: 50px 37px 139px;
	}
	
	
.footer_bar {
	height:111px;
	padding: 15px 40px 0;
	span {
		max-width:267px;
		margin-left:auto;
		margin-right:auto;
		line-height: 22px;
		br {
			display: inline-block;
		}
	}
	a.ilawyer {
		margin: 15px auto 0;
		img {
			
		}
	}
}

	.inner_top_footer {
    padding: 51px 23px 70px;
	}
	
	
	
	
	
} /* Media Query */


