// footer


.dropdown_width_fix {
	position: absolute;
	top:289px;
	right:0px;
	width:100%;
	padding-left:95px;
	padding-right:95px;
}

.dropdown_substitute {
	width: 66.3%;
	height:65px;
	float:right;
	text-align: left;
	.custom_dropdown {
		background: #f3f3f3;
		width:100%;
		height:100%;
		top: 0px;
		right: 0px;
		cursor: pointer;
		&:before {
			content:"";
			width:10px;
			height:10px;
			position: absolute;
			top: 28px;
			right: 109px;
			background: url(#{$themePath}images/tri.png) no-repeat;
			display: block;
		}
		span.dropdown_title {
			color:$blue;
			font-family: $nexalight;
			font-size: 19px;
			padding:23px 35px 23px 17px;
			letter-spacing: 1px;
			display: block;
		}
	}
	.dropdown_item_wrapper.open {
		opacity: 1;
		visibility: visible;
		max-height: 3000px;
	}
	.dropdown_item_wrapper {
		background: #fff;
		border:1px solid #e5e5e5;
		border-top:none;
		position: relative;
		top:0px;
		left:0;
		z-index:50;
		padding:10px 0 8px;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		cursor: pointer;
		transition: all 300ms ease-in-out;
		.dropdown_item.selected {
			background: $blue;
			color:#fff;
		}
		.dropdown_item {
			color:$blue;
			font-family: $nexalight;
			font-size: 19px;
			padding:8px 35px 8px 17px;
			letter-spacing: 1px;
			display: block;
			cursor: pointer;
			transition: all .2s ease-in-out;
			&:hover {
				background: $blue;
				color:#fff;
			}
		}
	}
}



// Overlay



.form_position_wrapper {
	position: relative;
	.dropdown_width_fix {
		top:83px;
		padding-left:0px;
		padding-right:0px;
		.dropdown_substitute {
		 right: 87px;
		 .custom_dropdown:before {
				right: 17px	    
		 }
		}
	}
}



// Dropdown 



.dropdown_inner_form {
	.dropdown_width_fix {
		top: 666px;
		padding-left: 85px;
    padding-right: 85px;
    .dropdown_substitute {
	    width:100%;
	    .custom_dropdown {
		    &:before {
			    right: 104px;
		    }
		    span.dropdown_title {
			    color:$darkblue;
		    }
	    }
    }
	}
}



@media screen and (max-width: 1881px) {
	
	
// Dropdown 



.dropdown_inner_form {
	.dropdown_width_fix {
	
		padding-left: 40px;
    padding-right: 40px;
    .dropdown_substitute {
	    
	    .custom_dropdown {
		    &:before {
			    right: 60px;
		    }
		    span.dropdown_title {
			   
		    }
	    }
    }
	}
}


	
	
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	.dropdown_width_fix {
		top:268px;
		padding-left: 72px;
		padding-right: 72px;
	}
	
	.dropdown_substitute {
		 right: 87px;
		 .custom_dropdown:before {
				right: 87px	    
		 }
	}
	
	
	.form_position_wrapper {
		.dropdown_substitute {
		 right: 87px;
		 .custom_dropdown:before {
				right: 105px	    
		 }
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1300px) {
	
	
	.form_position_wrapper {
		.dropdown_width_fix {
			top:75px;
		}
		.dropdown_substitute {
			height: 57px;
			.custom_dropdown {
				&:before {
					top: 25px;
				}
				span.dropdown_title {
					padding: 20px 35px 0px 17px;
				}
			}
		}
		  
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1270px) {
	
	.dropdown_width_fix {
		top:263px;
	}
	

	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	.dropdown_width_fix {
		top:228px;
	}
	
	
	.dropdown_substitute {
		 
		 height: 51px;
		 .custom_dropdown {
			 &:before {
				 top: 21px;
			 }
			 span.dropdown_title {
			 		padding: 17px 35px 17px 17px;
			 		font-size: 17px;
			 		letter-spacing: 0.5px;
		 		}
		 	}
		 	.dropdown_item_wrapper {
			 	.dropdown_item {
				 	font-size: 17px;
			 	}
		 	}
		}
		
		
		
	// Dropdown 



.dropdown_inner_form {
	.gfield_description, .validation_message {
    top: 39px;
	}
	.dropdown_width_fix {
	
		
    .dropdown_substitute {
	    height: 65px;
	    .custom_dropdown {
		    &:before {
			    right: 60px;
		    }
		    span.dropdown_title {
			   font-size: 19px;
			   padding: 23px 35px 23px 17px;
		    }
	    }
	    .dropdown_item_wrapper {
		   	.dropdown_item {
			   	font-size: 19px;
		   	} 
	    } 
    }
	}
}


	
		

	
	
} /* Media Query */





@media screen and (max-width: 1092px) {
	
	
	
	.dropdown_width_fix {
    top: 216px;
	}
	

	
	
	
} /* Media Query */




@media screen and (max-width: 1020px) {
	
		.dropdown_width_fix {
    	top: 203px;
			}
	
	
} /* Media Query */






@media screen and (max-width: 950px) {
	
	
	
	.dropdown_width_fix {
		top: 263px;
		padding-left: 37px;
    padding-right: 37px;
	}
	
	
	
	.dropdown_substitute {
		 width:100%;
		 
		 .custom_dropdown {
			 &:before {
				 right: 51px;
			 }
			 span.dropdown_title {
			 		
		 		}
		 	}
		}
	
	   
	
	
	.footer_form_wrapper ul li#field_1_7 {
		padding-top:65px;
		&:before {
			top: 75px;
		}
	}
	
	
	// overlay
	
	
	.form_position_wrapper {
		.dropdown_width_fix {
			top:140px;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	
	.dropdown_width_fix {
		top: 421px;
		padding-left: 37px;
    padding-right: 37px;
	}
	
	
	// overlay
	
	
	.form_position_wrapper {
		.dropdown_width_fix {
			top:280px;
		}
	}
	
	

	
	
	
} /* Media Query */