.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



// h2s are inconsistent on homepage


body:not(.page-template-page-home) {
	.content {
		h2 {
				// margin-top:53px;
		}
		h3 {
			// margin-top:60px;
		}
	}
}


.content {
	font-family: $tavirajlight;
	font-size:17px;
	line-height: 28px;
	color:$darkblue;
	letter-spacing: 0.5px;
	h1 {
		font-size: 60px;
		font-family: $tavirajlight;
		color:$blue;
		font-weight: 300;
		font-style: normal;
		letter-spacing: 0;
		border-bottom:2px solid $orange;
		padding-bottom:40px;
		margin-bottom:45px;
		line-height: 60px;
	}
	
	h1.center {
		text-align: center;
	}
	blockquote {
		font-family: $nexalight;
		color:$blue;
		font-size: 30px;
		line-height:40px;
		margin:45px 0;
		padding:0 13% 0 9%;
		letter-spacing: 0;
	}
	p {
		margin-bottom:28px;
	}
		h3 {
			font-family: $nexabold;
			font-size:16px;
			text-transform: uppercase;
			letter-spacing: 0.9px;
			line-height: 28px;
			padding-top:0px;
			font-style:normal;
			font-weight: 300;
			margin-bottom:28px;
		}
		h2 {
			font-family: $tavirajmedium;
			font-size:24px;
			font-weight: 300;
			font-style: normal;
			line-height: 28px;
			color:$blue;
			margin-bottom: 30px;
		
		}
		a {
			color:$blue;
			transition: all .2s ease-in-out;
			text-decoration: none;
			&:hover {
				color:$orange;
			}
		}
		ul {
			list-style: none;
			margin-bottom:20px;
			> li {
				background: url(#{$themePath}images/dot.png) no-repeat scroll 0 8px;
				list-style: none;
				padding: 0 0 0 30px;
				margin-bottom:10px;
			}
		}
		ol {
			list-style: none;
			counter-reset: item;
			li {
				counter-increment: item;
				margin-bottom: 5px;
				position: relative;
				padding-left:34px;
 			}
 			li:before {
 			  margin-right: 10px;
 			  content: counter(item)".";
 				color: $orange;
 			  
 			  position: absolute;
 			  top:0;
 			  left:0px;
 			  font-family: $tavirajmedium;
 			  display: inline-block;
 			}
		}
	}



@media screen and (max-width: 1250px) {
	
	
	
.content {
	h1 {
		padding-bottom: 40px;
		margin-bottom: 43px;
	}
}
	
	
	
} /* Media Query */


@media screen and (max-width: 1090px) {
	
	
	.content {
		blockquote {
			padding-left:5%;
			padding-right:5%;
		}
		h1 {
			font-size: 60px;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}




.content {
	h1 {
		font-size: 35px;
		line-height: 35px;
		padding-bottom: 25px;
			margin-bottom: 22px;
	}
	blockquote {
		padding:0;
		font-size:24px;
		line-height: 29px;
		margin: 30px 0 45px;
	}
}


	
	
	
	
} /* Media Query */



