.about_wrapper {
	display: flex;
	width:100%;
	
}

.about_content {
	width:50%;
	padding-top:142px;
	padding-bottom:190px;
}

.about_content_inner {
	padding:0 125px;
}


body.page-template-page-aboutoutfirm {
	.content {
		h2 {
			margin-top:38px;
		}
	}
}

.about_page_blockquote {
	display: flex;
	padding:7px 0 45px;
	.about_blockquote_img_wrapper {
		width:270px;
		display: flex;
		justify-content: center;
		align-items: center; 
		img {
			width:100%;
			height:auto;
			display: block;
		}
	}
	.about_blockquote_text_wrapper {
		width:calc(100% - 270px);
		color:$orange;
		font-size: 33px;
		line-height: 40px;
		font-family: $nexalight;
		padding-left:55px;
	}
}


.about_sidebar {
	width:50%;
	background: url(#{$themePath}images/bg-pattern-waves.jpg);
	padding:135px 0 0 110px;
	letter-spacing: 1.5px;
	color:$darkblue;
	font-family: $tavirajlight;
	font-size: 18px;
	line-height: 23px;
	padding-right:45px;
	img {
		display: block;
		max-width: 710px;
		width:100%;
		
	}
	span.about_sidebar_title {
		color:$orange;
		display: block;
		padding-bottom:35px;
		border-bottom:2px solid $blue;
		font-family: $nexalight;
		font-size:33px;
		margin:51px 0 32px;
	}
	a {
			color:$blue;
			transition: all .2s ease-in-out;
			text-decoration: none;
			&:hover {
				color:$orange;
			}
		}
	p {
		margin-bottom: 23px;
	}
	ul {
			list-style: none;
			margin-bottom:20px;
			> li {
				background: url(#{$themePath}images/dot-blue.png) no-repeat scroll 0 8px;
				list-style: none;
				padding: 0 0 0 30px;
				margin-bottom:23px;
			}
		}
		ol {
			list-style: none;
			counter-reset: item;
			li {
				counter-increment: item;
				margin-bottom: 5px;
				position: relative;
				padding-left:34px;
 			}
 			li:before {
 			  margin-right: 10px;
 			  content: counter(item)".";
 				color: $orange;
 			  
 			  position: absolute;
 			  top:0;
 			  left:0px;
 			  font-family: $tavirajmedium;
 			  display: inline-block;
 			}
		}
}


.about_sidebar_inner {
	padding-bottom: 160px;
}


@media screen and (max-width: 1700px) {
	
	
	
	.about_content_inner {
		padding:0 45px;
	}
	
	
	.about_sidebar {
		padding-left:45px;
		padding-right:45px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1395px) {
	
	
	
	
	.about_content {
		width:700px;
	}
	
	.about_sidebar {
		width:calc(100% - 700px);
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	.about_content {
		padding-top: 76px;
		padding-bottom: 100px;
	}
	
	.about_sidebar {
		 padding-top: 77px;
	}
	
	.about_sidebar_inner {
    padding-bottom: 100px;
}
	
	
} /* Media Query */


@media screen and (max-width: 1120px) {
	
	
	.about_wrapper {
		display: block;
	}
	
	
	.about_content {
		width:100%;
		padding-top:100px;
		padding-bottom: 59px;
	}
	
	.about_content_inner {
		padding-left:45px;
		padding-right:45px;
	}
	
	.about_sidebar {
		width:100%;
		
		padding-left:45px;
    padding-right:45px;
    img {
	    margin-left:auto;
			margin-right:auto;
    }
	}
	
	.about_sidebar_inner {
    
   }
	
	
	
.about_page_blockquote {
	
	
	.about_blockquote_img_wrapper {
		
		img {
			
		}
	}
	.about_blockquote_text_wrapper {
		
	}
}

	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	
	
	.about_content {
		
		padding-bottom: 25px;
	}
	
	.about_content_inner {
		padding-left:25px;
		padding-right:25px;
	}
	
	.about_sidebar {

		padding-top: 50px;
		padding-left:25px;
    padding-right:25px;
    span.about_sidebar_title {
	    font-size:28px;
	    margin-top:40px;
	    padding-bottom: 24px;
    }
	}
	
	.about_sidebar_inner {
    padding-bottom: 25px;
   }
	
	
	
.about_page_blockquote {
	
	
	.about_blockquote_img_wrapper {
		width:240px;
		img {
			
		}
	}
	.about_blockquote_text_wrapper {
		font-size: 30px;
		line-height: 37px;
		width:calc(100% - 240px);
		padding-left: 27px;
	}
}


	
	
} /* Media Query */



@media screen and (max-width: 675px) {
	
	
.about_content {
    padding-bottom: 0px;
}

.about_sidebar {
	padding-top:25px;
	span.about_sidebar_title {
	  margin-top:25px;
	  padding-bottom: 15px;
  }
}


	
.about_page_blockquote {
	
	
	.about_blockquote_img_wrapper {
		display: none;
		img {
			
		}
	}
	.about_blockquote_text_wrapper {
		
		width:100%;
		padding-left: 0px;
	}
}

	
	
	
	
	
} /* Media Query */