body.page-template-page-attorney-directory {
	.one_column {
		max-width:1680px;
		margin-left:auto;
		margin-right:auto;
	}
}

.attorney_overview {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:34px;
	margin-bottom:75px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}



.single_attorney {
	width:33.333%;
	float:left;
	margin-bottom: 112px;
	&:hover {
		a.overlay {
			&:before {
				opacity: 1;
			}
		}
	}
	a.overlay {
		position: relative;
		display: block;
		&:before {
			content:"View Profile";
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:$orange;
			display: flex;
			justify-content: center;
			align-items: center; 
			color:#fff;
			text-transform: uppercase;
			font-family: $nexabold;
			font-size:16px;
			letter-spacing: 10px;
			opacity: 0;
			transition: all .2s ease-in-out;
		}
	}
/*
	&:last-of-type {
		margin-right:0;
	}
*/
	a {
		text-decoration: none;
		color:$blue;
		img.att_image {
			display: block;
			max-width: 100%;
			height:auto;
		}
		span.att_overview_title {
			color:$blue;
			font-family: $tavirajlight;
			font-size: 27px;
			display: inline-block;
			margin:55px 0 10px;
			padding-bottom:7px;
			border-bottom:1px solid #f3f3f3;
			letter-spacing: 0.7px;
		}
		span.att_overview_position {
			display: block;
			color:$darkblue;
			font-size: 17px;
		}
	}
	.atto_title_wrapper {
		float:left;
		margin-left:20px;
	}
	.att_social_media {
		float: right;
		display: flex;
		margin:61px 28px 0 0;
		a {
			border:1px solid $blue;
			border-right:none;
			width:45px;
			height:45px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all .2s ease-in-out;
			&:last-of-type {
				border-right:1px solid $blue;
			}
			&:hover {
				background: $blue;
				svg {
					fill:#fff;
				}
			}
			svg {
				fill:$blue;
				transition: all .2s ease-in-out;
			}
			svg.att_linkedin {
				width:15px;
			}
			svg.att_facebook {
				width:8px;
			}
			svg.att_google {
				width:22px;
			}
		}
	}
}



@media screen and (max-width: 1580px) {
	
	
	.single_attorney {
		margin-bottom: 89px;
		.atto_title_wrapper {
			float:none;
		}
		.att_social_media {
			float:none;
			 margin:27px 0px 0 22px;
			 
		}
	} 
	
	
	
	
} /* Media Query */





@media screen and (max-width: 1065px) {
	
	.single_attorney {
		width:50%;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	body.page-template-page-attorney-directory {
	.one_column {
/*
		padding-left:0;
		padding-right:0;
*/
	}
}
	
	
	
	
	.attorney_overview {
		 padding-top: 19px;
	}
	
	   
	
	.single_attorney {
		width:100%;
		float:none;
		max-width:530px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 52px;
		
		a {
			span.att_overview_title {
				margin-top:30px;
				font-size:25px;
			}
		}
		.att_social_media {
			margin-top:13px;
			justify-content: center;
			
		}
		.atto_title_wrapper {
			text-align: center;
			margin-left:0;
		}
		.att_social_media {
			margin-left:0;
		}
		a.overlay {
		
			&:before {
				letter-spacing: 1px;
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 530px) {
	
	.single_attorney {
		position: relative;
		top:0;
		left:-25px;
		width:100vw;
	}
	
	.attorney_overview {
		margin-bottom: 54px;
	}
	
	    
	

	
} /* Media Query */