body.page-template-page-contact {
	.top_footer {
		display: none;
	}
	.footer_form_wrapper {
		// margin:-8px auto;
	}
}




.contact_page_wrapper {
	text-align: center;
	padding:135px 0 430px;
	max-width:1300px;
	padding-left:45px;
	padding-right:45px;
	margin:0 auto;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}

img.contact_svg {
	width:180px;
}


span.contact_decription {
	font-family:$tavirajlight;
	font-size: 80px;
	line-height: 90px;
	display: block;
  margin: 69px auto 78px;
	padding-bottom:70px;
	border-bottom:2px solid $blue;
}


.contact_col {
	width:50%;
	text-align: center;
	&:first-of-type {
		float:left;
		padding-top:19px;
	}
	&:last-of-type {
		float:right;
	}
}


span.contact_page_office_title {
	font-family:$tavirajbold;
	color:$lightblue;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	padding-left:3px;
	&:before {
		content:"";
		width:6px;
		height:6px;
		display: inline-block;
		background: $lightblue;
		border-radius: 50%;
		position: relative;
		top:-4px;
		margin-right:25px;
	}
	&:after {
		content:"";
		width:6px;
		height:6px;
		display: inline-block;
		background: $lightblue;
		border-radius: 50%;
		position: relative;
		top:-4px;
		margin-left:25px;
	}
}



a.contact_page_address {
	text-decoration: none;
	color:$darkblue;
	text-transform: uppercase;
	font-family: $nexalight;
	display: block;
	font-size: 26px;
	line-height: 37px;
	letter-spacing: 2px;
	margin-top: 44px;
}


a.contact_page_directions {
	text-transform: lowercase;
	text-decoration: none;
	font-family: $tavirajsemibold;
	color:$darkblue;
	font-size: 18px;
	border-bottom:3px solid $darkblue;
	padding:0 5px 15px;
	display: inline-block;
	margin:35px 0 60px;
	letter-spacing: 1px;
	transition: all .2s ease-in-out;
	&:hover {
		color:$orange;
		border-bottom:3px solid $orange;
	}
}


a.contact_page_tel {
	display: block;
	color:$orange;
	text-decoration: none;
	font-family: $tavirajmedium;
	font-size: 40px;
}


iframe.contact_map {
	width:100%;
	height: 391px;
}


@media screen and (max-width: 1355px) {
	
	
	.contact_page_wrapper {
		padding-top: 85px;
		padding-bottom:412px;
		max-width: 824px;
	}
	
	
	span.contact_decription {
    font-size: 60px;
    line-height: 60px;
  }
  
  
 .contact_col {
	width:100%;
	&:first-of-type {
		float:none;
		padding-top:0px;
	}
	&:last-of-type {
		float:none;
		margin-top:65px;
	}
}
	
	
	
	
} /* Media Query */




@media screen and (max-width: 985px) {
	
	
	.contact_page_wrapper {
		max-width: 715px;
	}
	
	
	span.contact_decription {
    font-size: 50px;
    line-height: 50px;
  }
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	.contact_page_wrapper {
		padding-top: 117px;
		padding-left:25px;
		padding-right:25px;
		padding-bottom:35px;
	}
	
	
	img.contact_svg {
		width:150px;
	}
	
	
	span.contact_decription {
    font-size: 35px;
    line-height: 35px;
    margin: 40px auto 47px;
    padding-bottom: 34px;
    max-width:430px;
	}   
	
	a.contact_page_address {
		margin-top: 25px;
		font-size:22px;
		line-height: 31px;
	}
	
	
	a.contact_page_tel {
		font-size:32px;
	}
	
	     
	 a.contact_page_directions {
		 margin: 35px 0 45px;
	 }    
	     
	 .contact_col {
	 	&:first-of-type {
			
		}
		&:last-of-type {
			 margin-top: 55px;
		}
	}
	 
	 
	    
	
	
	
} /* Media Query */



