body.blog, body.single, body.archive {
	.sidebar {
		padding: 141px 0px 40px;
	}
}




.sidebar_blog_inner {
	#recent-posts-4 {
		h3 {
			cursor: default;
			&:after {
				display: none;
			}
		}
		ul {
			max-height: 3000px;
			opacity: 1;
			visibility: visible;
			&:after {
				display: none;
			}
			li {
				font-size: 14px;
			}
		}
	}

	h3 {
		color:$orange;
		font-weight: 300;
		font-style: normal;
		font-size:50px;
		font-family: $tavirajlight;
		padding:0 58px;
		letter-spacing: 2px;
		position: relative;
		cursor: pointer;
		&:after {
			content:url(images/blog_arrow.png);
			width:45px;
			height:22px;
			position: absolute;
			top:0;
			right:11%;
		}
	}
	ul.open {
		max-height:3000px;
		opacity: 1;
		visibility: visible;
	}
	
	ul {
		list-style: none;
		margin:21px 0 50px 0;
		max-height:0px;
		opacity: 0;
		visibility: hidden;
		transition: all 400ms ease-in-out;
		
		> li {
			&:last-of-type {
				a {
					border-bottom: none;
				}
			}
			font-family: $nexabold;
			text-transform: uppercase;
			line-height: 22px;
			margin-bottom:0px;
			font-size: 18px;
			letter-spacing: 2px;
			a {
				color:$darkblue;
				text-decoration: none;
				
				background: transparent;
				display: block;
				padding:30px 58px;
				transition: all .2s ease-in-out;
				border-bottom:1px solid #e9e9e9;
				&:hover {
					background: $darkblue;
					color:$lightblue;
				}
			}
		}
	}


}



@media screen and (max-width: 1250px) {
	
	
	body.blog, body.single, body.archive {
		.sidebar {
			padding: 80px 0px 40px;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1090px) {
	
	
	
	body.blog, body.single, body.archive {
		.sidebar {
			padding:60px 0 20px;
		}
	}
	
	.sidebar_blog_inner ul {
		margin-top:15px;
	}
	
	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	body.blog, body.single, body.archive {
		.sidebar {
			padding: 44px 0px 20px;
		}
	}
	
	
	.sidebar_blog_inner {
		h3 {
			font-size:31px;
			padding-left:30px;
			padding-right:30px;
			&:after {
				top:3px;
			}
		}
		ul {
			margin-bottom:15px;
			li {
				font-size:14px;
				// letter-spacing: 1.5px;
				a {
					padding:20px 30px;
				}
			}
		}
	}
	
	
} /* Media Query */


