.sidebar_bio {
	width:35%;
	background: url(#{$themePath}images/bg-pattern-waves.jpg);
}


.bio_container {
	width:65%
}


.sidebar_bio {
	padding-left:50px;
	padding-right:50px;
	padding-top:154px;
}

img.attor_profile_img {
	max-width: 100%;
}
